body,
html {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 12px;
	background: #fff url(../img/bg.png) right bottom no-repeat;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#wrapper {
	margin: 0;
	padding: 0;
	max-height: 650px;
	overflow: hidden;
}

#timetableForm {
	margin-bottom: 0;
}

#content input[type=text],
#content input[type=password] {
	border: 1px solid #ddd;
	height: 25px;
	padding: 3px;
	width: 232px;
	margin-bottom: 5px;
	border-radius: 5px;
}

#timetable {
	background-color: #ddd;
	visibility: hidden;
	height: 0;
	max-height: 550px;
	padding-right: 20px;
	overflow-y: auto;
	transition: all 1s ease;
}

#timetable.visible {
	height: 550px;
	visibility: visible; 	
}

#timetable table {
	min-width: 400px;
	
}

#timetable .user-sessions-container > a {
	font-weight: 700;
	text-align: center;
	padding: 5px 0;
	font-size: 14px;
	background-color: #9D1765;
	border-radius: 5px;
	text-decoration: none;
	display: block;
	margin: 5px 0;
	color: #fff;
}

#timetable th {
	background-color: #6E0C47;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 12px;
}

#content #timetable td {
	background-color: #fff;
	padding: 5px;
	vertical-align: middle;
}

#timetable td a {
	text-decoration: none;
	color: #663399;
	font-weight: 700;
}

#content {
	width: 100%;
}

#content td {
	vertical-align: top;
	font-weight: 500;
	font-size: 12px;
}

label {
	display: block;
	margin: 3px 10px;
}

select {
	border: 1px solid #ddd;
	height: 31px;
	padding: 5px;
	width: 232px;
	margin-bottom: 10px;
	border-radius: 5px;
}

fieldset {
	border: none;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

.ui-datepicker-prev,
.ui-datepicker-next {
	display: block;
}

.noresults {
	min-width: 150px;
	text-align: center;
	display: block;
}

.user-sessions-container {
	width: 500px;
}

.pop {
	padding: 5px;
	background-color: #663399;
	color: #fff;
	z-index: 4;
}

.pop b {
	display: block;
	text-align: center;
	padding: 2px 0;
	background-color: #9D1765;
}

#fade {
	position: fixed;
	z-index: 5;
	background-color: #fff;
	
}

.effect {
	transition: all 1.2s ease;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
}

.effect.visible {
	visibility: visible;
	opacity: 1;
	width: 100%;
	height: 100%;
}

.close {
	width: 40px;
	height: 40px;
	background: url(../img/close.png);
	float: right;
	margin: 10px;
	cursor: pointer;
	visibility: hidden;
	transition: all 1.2s ease 1.2s;
	-webkit-transform: scale(0) rotate(720deg);
    -moz-transform: scale(0) rotate(720deg);
    -ms-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg); 
}

.effect.visible .close {
	visibility: visible;
	-webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0); 
}

.effect .close.hidden {
	transition: all 1.2s ease;
	-webkit-transform: scale(0) rotate(720deg);
    -moz-transform: scale(0) rotate(720deg);
    -ms-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg); 
    opacity: 0;
    visibility: hidden;
}

.loading {
	position: absolute;;
	left: 30%;
	top: 48%;
	font-weight: 700;
	font-size: 14px;
}

#fade_content {
	height: 500px;
	padding: 10px;
	overflow-y: auto; 
}

.booking .title {
	padding: 10px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #9D1765;
}

#main .title {
	text-align: left;
	font-weight: 500;
	text-transform: none;
}

.inside div {
	margin: 5px 0;
}

.h5 {
	font-weight: 700;
}

#main .place-desc {
		width: 200px;
}

#logo {
	display: block;
	width: 230px;
	height: 108px;
	background: url(../img/kmlogo.png) no-repeat;
}

#getUser {
	font-weight: 700;
	text-decoration: none;
	color: #9D1765;
	float: right;
}

#authBlock {
	color: #9D1765;
}

.dop-inform {
	margin: 10px 0;
	text-align: center;
}

.kinopoisk {
	width: 25px;
	height: 25px;
	display: inline-block;
	background: url(../img/kinopoisk.png) no-repeat;
	margin: 0 10px;
}

.youtube {
	width: 25px;
	height: 25px;
	margin: 0 10px;
	display: inline-block;
	background: url(../img/video.png) no-repeat;
}

.trailer {
	width: 640px;
	margin: 20px 0;
}